.container {
  /* TODO 1: Turn this element into a flexbox */
}

.item1 {
  /* TODO 2: Item 1 expands to fill as much space as possible */
}

.item3 {
  /* TODO 3: Item 3 expands to fill as much space as possible (as much as item 1) */
}