:root {
  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
}

* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  background-color: var(--primary-500);
}

body {
  margin: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  color: var(--primary-100);
}

.container {
  background-color: var(--primary-50);
  padding: 10px;
  border-radius: 0.5rem;
}

.container > * {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  white-space: nowrap;
}

.container > :nth-child(odd) {
  background-color: var(--primary-600);
  color: var(--primary-200);
}

.container > :nth-child(even) {
  background-color: var(--primary-200);
  color: var(--primary-600);
}
