.container {
  /* TODO 1: turn this element into a flexbox with "display: flex;" */
}

.item1 {
  /* TODO 2: Make items 1 and 3 fill as much space as possible, while item 2 stays the same.

  You can assign "flex: 1;" to multiple children.

  That would be like telling the flexbox: "make all these elements fill all the space available, and distribute the space evenly between them."
   */
}

.item3 {
  /* TODO 3: Here also use "flex: 1;" */
}